#longButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 48px;
  background-color: var(--blue);
  border-radius: 8px;
  transition: background-color 200ms;
}

#text {
  color: var(--white);
  font-size: var(--fontSmall);
  font-weight: 400;
}

#customButton:hover {
  background-color: var(--lightBlue);
}
