#passwordField {
  color: var(--black);
}

#passwordLabel {
  font-size: var(--fontRegular);
  font-weight: 700;
}

.passwordField {
  background-color: transparent;
  font-size: var(--fontSmall);
  font-weight: 300;
  margin-top: 15px;
  padding-bottom: 3px;
  border: none;
  border-bottom: 1px solid var(--black);
  width: 200px;
  transition: padding 500ms, border 600ms;
}

#passwordField:hover .passwordField {
  border-bottom: 1px solid var(--darkGray);
  padding-left: 10px;
}
