#ContentX {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--lightGray);
    border-radius: 22px;
    width: 95%;
    height: 520px;
    margin-top: 20px;
    margin-left: 25px;
    
  }

  #ContentY {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--white);
    border-radius: 22px;
    width: 45%;
    height: 469px;
    margin-top: 26px;
    margin-left: 25px;
  }

  #lineOneRed {
    text-align: center;
    font-weight: 400px;
    font-size: var(--fontMedium);
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;    
    margin-bottom: 50px;

  }

  #lineTwoRed {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  
  #svgImg {
    width: 500px;
    height: auto;
    margin-left: 60px;
  }
  
  #longButtonRed {
    border-radius: 8px;
    transition: background-color 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 280px;
    height: 60px;
    background-color: #F8806F;
    border-radius: 8px;
    transition: background-color 200ms;
  }
  
  #textSize {
    color: var(--white);
    font-weight: 525px;
    font-size: 20px;
  }
  
  #longButtonRed:hover {
    background-color: #a05a51;
  }