.container {
  display: flex;
  background-color: var(--darkBlue);
}
/* changed this one */
.container__pending {
  background-color: var(--white);
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 50px;
  /* margin-left: 18vw; */
}
.container__pending__title {
  background-color: var(--medGray);
  padding: 2rem;
  border-radius: 10px;
  width: 75vw;
}
.container__table {
  margin-top: 3rem;
}
.nav {
  margin-top: 10px;
}
