  .signin {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--darkBlue);
    color: var(--white);
    height: 100%;
  }

  hr.lineThing {
    border: 0.5px solid white;
    width: 440px;
  }

#cardBgSignIn {
  margin-top: 18px;
  margin-left: 2vw;
  margin-bottom: 19px;
}

#textOrganization {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    height: 469px;
    margin-top: 240px;
    margin-left: 90px;
}

#titleOne {
    font-weight: 100px;
    font-size: 40px;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;    
  }

  #titleTwo {
    font-weight: 600;
    font-size: var(--fontSuperbig);
    margin-left: 10px;
    margin-right: 10px; 
    margin-bottom: 15px;   
  }

  #titleThree {
    font-weight: 100px;
    font-size: var(--fontMedium);
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;    
  }