#cardBackground {
  display: flex;
  flex-direction: column;
  background-color: var(--offWhite);
  width: 80vw;
  height: 94%;
  border-radius: 25px;
}

#pageHeading {
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 20px;
}

#progressBar {
  margin-left: auto;
  margin-right: auto;
}

/* project name css */
#getProjectName {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 3%;
  margin-top: 3%;
}

#createProject {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-right: 100px;
}

#projectName {
  margin-left: 70px;
}

#createProjectBtn {
  margin-top: 30px;
}

#projectNameImg {
  width: 35vw;
}

/* file upload css */
#secodaryContent {
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;
}

#nextBtn {
  margin-top: 70px;
  margin-left: 100%;
}
