#cardBackground {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--offWhite);
  color: var(--black);
  width: 80vw;
  min-height: 94%;
  border-radius: 25px;
}

#pageHeading {
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 20px;
}

#purpleCard {
  margin-bottom: 40px;
}
